<nav class="side-nav js-side-nav">
    <section id="js-sidenav-dropdown" class="side-nav__dropdown">
        <ul>
          <li><a href="https://docsv2.gamelocker.app/#introduction">Introduction</a></li>
          <li><a href="https://docsv2.gamelocker.app/#oauth">OAuth</a></li>
          <li><a href="https://docsv2.gamelocker.app/#customers">Customers</a></li>
          <li><a href="https://docsv2.gamelocker.app/#documents">Documents</a></li>
          <li><a href="https://docsv2.gamelocker.app/#sources">Funding Sources</a></li>
          <li><a href="https://docsv2.gamelocker.app/#transfers">Transfers</a></li>
          <li><a href="https://docsv2.gamelocker.app/#events">Events</a></li>
          <li><a href="https://docsv2.gamelocker.app/#subscriptions">Webhook Subscriptions</a></li>
          <li><a href="https://docsv2.gamelocker.app/#webhooks">Webhooks</a></li>
        </ul>
    </section>
</nav>
