---
layout: page
title: Gamelocker API Documentation
bodyClass: home
description: The ACH API for bank transfers

sampleRuby: >
    ```ruby

    require 'Gamelocker_v2'


    $Gamelocker = GamelockerV2::Client.new(id: ENV["GAMELOCKER_ID"], secret: ENV["GAMELOCKER_SECRET"]) do |config|
        config.environment = :sandbox
    end


    account_token = $Gamelocker.tokens.new access_token: "GnlMMOlLLTTwRRC44gGPkjfsVbVtwzkptDVdIB0fwGwLnV481N"


    request_body = {
      :_links => {
        :source => {
          :href => "https://api-uat.gamelocker.app/funding-sources/118b08b9-e1eb-48b7-94ad-866989b0764e"
        },
        :destination => {
          :href => "https://api-uat.gamelocker.app/funding-sources/2fa64102-185d-443d-9001-dda9bc37651d"
        }
      },
      :amount => {
        :currency => "USD",
        :value => "1.00"
      }
    }


    transfer = account_token.post "transfers", request_body

    transfer.headers[:location] # => "https://api-uat.gamelocker.app/transfers/74c9129b-d14a-e511-80da-0aa34a9b2388"

    ```

sampleRaw: >
    ```raw

    curl -X POST -H "Authorization: Bearer GnlMMOlLLTTwRRC44gGPkjfsVbVtwzkptDVdIB0fwGwLnV481N" \
    -H "Content-Type: application/vnd.Gamelocker.v1.hal+json" \
    -H "Accept: application/vnd.Gamelocker.v1.hal+json" \
    -d '{
        "_links": {
            "source": {
                "href": "https://api-uat.gamelocker.app/funding-sources/118b08b9-e1eb-48b7-94ad-866989b0764e"

            },
            "destination": {
                "href": "https://api-uat.gamelocker.app/funding-sources/2fa64102-185d-443d-9001-dda9bc37651d"
            }
        },
        "amount": {
            "currency": "USD",
            "value": "1.00"
        }
    }' 'https://api-uat.gamelocker.app/transfers' -v

    ```

samplePython: >
    ```python

    import Gamelockerv2


    client = Gamelockerv2.Client(
      id = os.environ['GAMELOCKER_ID'],
      secret = os.environ['GAMELOCKER_SECRET'],
      environment = 'sandbox'
    )


    account_token = client.Token(access_token = 'GnlMMOlLLTTwRRC44gGPkjfsVbVtwzkptDVdIB0fwGwLnV481N')


    request_body = {
      '_links': {
        'source': {
          'href': 'https://api-uat.gamelocker.app/funding-sources/118b08b9-e1eb-48b7-94ad-866989b0764e'
        },
        'destination': {
          'href': 'https://api-uat.gamelocker.app/funding-sources/2fa64102-185d-443d-9001-dda9bc37651d'
        }
      },
      'amount': {
        'currency': 'USD',
        'value': '1.00'
      }
    }


    transfer = account_token.post('transfers', request_body)

    transfer.headers['location'] # => 'https://api-uat.gamelocker.app/transfers/74c9129b-d14a-e511-80da-0aa34a9b2388'

    ```

samplePHP: >
    ```php

    <?php

    GamelockerSwagger\Configuration::$auth_token = 'GnlMMOlLLTTwRRC44gGPkjfsVbVtwzkptDVdIB0fwGwLnV481N';


    $apiClient = new GamelockerSwagger\ApiClient("https://api-uat.gamelocker.app/");


    $transfer_request = array (
      '_links' =>
      array (
        'source' =>
        array (
          'href' => 'https://api-uat.gamelocker.app/funding-sources/118b08b9-e1eb-48b7-94ad-866989b0764e',
        ),
        'destination' =>
        array (
          'href' => 'https://api-uat.gamelocker.app/funding-sources/2fa64102-185d-443d-9001-dda9bc37651d',
        ),
      ),
      'amount' =>
      array (
        'currency' => 'USD',
        'value' => '9.00',
      ),
    );


    $transferApi = new GamelockerSwagger\TransfersApi($apiClient);


    $myAccount = $transferApi->create($transfer_request);

    print($xfer); # => https://api-uat.gamelocker.app/transfers/d76265cd-0951-e511-80da-0aa34a9b2388

    ?>

    ```

sampleJavascript: >
    ```javascript

    var Gamelocker = require('Gamelocker-v2');


    var client = new Gamelocker.Client({id: "...", secret: "..."});


    var accountToken = new client.Token({access_token: "GnlMMOlLLTTwRRC44gGPkjfsVbVtwzkptDVdIB0fwGwLnV481N"});


    var requestBody = {
      _links: {
        source: {
          href: 'https://api-uat.gamelocker.app/funding-sources/118b08b9-e1eb-48b7-94ad-866989b0764e'
        },
        destination: {
          href: 'https://api-uat.gamelocker.app/funding-sources/2fa64102-185d-443d-9001-dda9bc37651d'
        }
      },
      amount: {
        currency: 'USD',
        value: '1.00'
      }
    };


    accountToken
      .post('transfers', requestBody)
      .then(function(res) {
        res.headers.get('location'); // => 'https://api-uat.gamelocker.app/transfers/74c9129b-d14a-e511-80da-0aa34a9b2388'
      });

    ```
---
<div class="cnt-one-col">
    <section class="cnt-two-col__nav js-two-col-nav">
        {% include side-nav.html %}
    </section>
    <section class="cnt-one-col__banner banner">
        <div class="page-wrap">
            <h1 class="icon-home-api icon">Simple and powerful API for sharing the power of your game data</h1>
            <a href="/guides/" class="btn primary large">View all guides</a>
        </div>
        <div class="banner__background"></div>
    </section>
    <section class="hover-box cnt-one-col__hover-box page-wrap">
        <h2>Try it out</h2>

        <div style="text-align: left">
            {{ page.sampleRuby | markdownify }}
            {{ page.sampleJavascript | markdownify }}
            {{ page.sampleRaw | markdownify }}
            {{ page.samplePython | markdownify }}
            {{ page.samplePHP | markdownify }}
        </div>

        <section class="split-options">
            <div>
                <h3 class="icon-home-sandbox">Set up Sandbox</h3>
                <p>uat.gamelocker.app</p>
                <a href="/guides/sandbox-setup/" class="btn secondary large">Test our service</a>
            </div>
            <div>
                <h3 class="icon-home-launch">Launch in production</h3>
                <p>www.gamelocker.app</p>
                <a href="https://www.gamelocker.app/applications/create" class="btn secondary large">Get API key</a>
            </div>
        </section>
    </section>
    <div class="page-wrap">
        {% include reach-out.html %}
    </div>
</div>

{% include status-widget.html %}
