<footer>
    <div class="page-wrap">
        <nav>
            <h6>Info</h6>
            <a href="https://www.gamelocker.app/about">Product</a>
            <a href="https://developers.gamelocker.app">Documentation</a>
            <a href="https://www.gamelocker.app/pricing?b=footer">Pricing</a>
            <a href="https://www.gamelocker.app/contact?b=footer">Let's talk</a>
        </nav>
        <nav>
            <h6>Account</h6>
            <a href="https://www.gamelocker.app/register">Sign up</a>
            <a href="https://www.gamelocker.app/login">Log in</a>
            <a href="http://help.gamelocker.app">Support</a>
            <a href="https://www.gamelocker.app/security">Security</a>
            <a href="https://www.gamelocker.app/legal/privacy/">Privacy</a>
            <a href="https://www.gamelocker.app/legal/tos/">Legal</a>
        </nav>
        <nav>
            <h6>Elsewhere</h6>
            <a href="https://twitter.com/Gamelocker">Twitter</a>
            <a href="https://www.facebook.com/Gamelocker">Facebook</a>
            <a href="https://www.linkedin.com/company/Gamelocker">Linkedin</a>
            <a href="https://github.com/madglory">GitHub</a>
        </nav>
        <nav>
            <h6>Learn more</h6>
            <a href="https://www.gamelocker.app/press">Press</a>
            <a href="https://www.gamelocker.app/updates">Updates</a>
            <a href="https://www.gamelocker.app/careers">Careers</a>
        </nav>
    </div>
</footer>
<section class="disclaimer">
    <div class="page-wrap">
        <h5>Game companies play an important role in the Gamelocker network.</h5>
    </div>
</section>
<section class="copyright">
    <div class="page-wrap">
        <div>
            <span>© 2016 MadGlory</span>
        </div>
    </div>
</section>
