<div class="header__primary js-two-col-header-primary">
    <div class="page-wrap">
        <div>
            <a href="https://www.gamelocker.app"><img src="/images/madglory.png" /></a>
            <div class="hamburger">
                <a href="https://www.gamelocker.app/contact?b=nav">Let's talk</a>
                <a class="btn primary js-hamburger">Menu</a>
            </div>
        </div>
        <nav class="js-hamburger-nav">
            <a href="https://www.gamelocker.app/about">Product</a>
            <a href="/">Documentation</a>
            <a href="https://www.gamelocker.app/login">Log in</a>
            <a href="https://www.gamelocker.app/register">Sign up</a>
            <a class="btn primary" href="https://www.gamelocker.app/contact?b=nav">Let's talk</a>
        </nav>
    </div>
</div>
